---
import Card from "../components/Card.astro";
import HelloComponent from "../components/HelloComponent.jsx"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<Card title="Card 1" text="card text 1"/>
		<Card title="Card 2" text="card text 2"/>
		<Card title="Card 3" text="card text 3"/>

		<HelloComponent/>
	</body>
</html>
