---
const {title, text} = Astro.props
---
<div class="card">
    <h1>{title}</h1>
    <p>{text}</p>
</div>

<style>
    .card{
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 10px;
    }
</style>